
{% extends "booking/main.html" %}

{% block title %}Booking List{% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-header">
        <h3>Booking List</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for booking in bookings %}
                <li class="list-group-item">
                    {{ booking.name }} - {{ booking.room_type }} ({{ booking.check_in }} to {{ booking.check_out }})
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'booking_create' %}" class="btn btn-primary mt-3">Create New Booking</a>
    </div>
</div>
{% endblock %}
